*.class
*.docx
*.doc
*.zip
*.bat
*.cmd
*.pyc
*.py
*.txt
*.sh
*.properties
*.lzma
*.cfg

# Package Files #
*.jar
*.war
*.ear

# Folders #
Build/*
Submissions/*
Forge/1.6.2/client/*
Forge/1.6.2/common/*
Forge/1.6.2/fml/*
Forge/1.6.2/patches/*
Forge/1.6.2/mcp/bin/*
Forge/1.6.2/mcp/conf/*
Forge/1.6.2/mcp/docs/*
Forge/1.6.2/mcp/eclipse/*
Forge/1.6.2/mcp/jars/*
Forge/1.6.2/mcp/lib/*
Forge/1.6.2/mcp/logs/*
Forge/1.6.2/mcp/modsrc/*
Forge/1.6.2/mcp/reobf/*
Forge/1.6.2/mcp/runtime/*
Forge/1.6.2/mcp/src/minecraft/cpw/*
Forge/1.6.2/mcp/src/minecraft/ibxm/*
Forge/1.6.2/mcp/src/minecraft/net/*
Forge/1.6.2/mcp/src/minecraft/paulscode/*
Forge/1.6.2/mcp/temp/*

Forge/1.5.2/client/*
Forge/1.5.2/common/*
Forge/1.5.2/fml/*
Forge/1.5.2/patches/*
Forge/1.5.2/mcp/bin/*
Forge/1.5.2/mcp/conf/*
Forge/1.5.2/mcp/docs/*
Forge/1.5.2/mcp/eclipse/*
Forge/1.5.2/mcp/jars/*
Forge/1.5.2/mcp/lib/*
Forge/1.5.2/mcp/logs/*
Forge/1.5.2/mcp/modsrc/*
Forge/1.5.2/mcp/reobf/*
Forge/1.5.2/mcp/runtime/*
Forge/1.5.2/mcp/src/minecraft/cpw/*
Forge/1.5.2/mcp/src/minecraft/ibxm/*
Forge/1.5.2/mcp/src/minecraft/net/*
Forge/1.5.2/mcp/src/minecraft/paulscode/*
Forge/1.5.2/mcp/temp/*

# Files #
Forge/1.5.2/mcp/src/minecraft/forge_logo.png
Forge/1.5.2/mcp/src/minecraft/Start.java
Forge/1.5.2/mcp/CHANGELOG
Forge/1.5.2/mcp/src/minecraft/mcpmod.info
Forge/1.5.2/mcp/src/minecraft/mcp.png

Forge/1.6.2/mcp/src/minecraft/forge_logo.png
Forge/1.6.2/mcp/src/minecraft/Start.java
Forge/1.6.2/mcp/CHANGELOG
Forge/1.6.2/mcp/src/minecraft/mcpmod.info
Forge/1.6.2/mcp/src/minecraft/mcp.png

# Special #
!/Crowdin/Build/*.properties
!/Assemble.py
!/Master.properties
!/Forge/1.5.2/mcp/getchangedsrc.bat
!/Forge/1.5.2/mcp/recompile.bat
!/Forge/1.5.2/mcp/reobfuscate.bat
!/Forge/1.6.2/mcp/getchangedsrc.bat
!/Forge/1.6.2/mcp/recompile.bat
!/Forge/1.6.2/mcp/reobfuscate.bat